			<%- include("../templates/default") %>
<!-- Banner -->
			<section id="banner" style="background-color: #1abc9c">
				<div class="inner">
					<h1>Hola Dr. <%= user.nombre %><br/>
                        <img src="ic_launcher/web_hi_res_512.png" alt="icon" style="width:150px;height:150px;" ><br/>
                    <a href="https://www.ipn.mx">Nutri2</a></h1>
					<ul class="actions">
						
						<li><a href="#one" class="button alt scrolly big">Continuar</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<article id="one" class="post style1">
				<div class="image">
					<img src="images/pic14.jpg" alt="" data-position="75% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="#">Dietas hechas simples</a></h2>
							<p class="info">No mas peleas con tu comida </p>
						</header>
						<p>A veces el comer sano puede hacerce mas dificil debido a la gran cantidad de opciones de alimentos, porsiones mal especificadas y fallas de comunicacion con tu nutriologo. Desde ahora, esto cambia.</p>
					</div>
					<div class="postnav">
						<a href="#" class="prev disabled"><span class="icon fa-chevron-up"></span></a>
						<a href="#two" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>
			
			<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
	</body>
</html>